.main-container {
  overflow: hidden;
}

.main-container .landportal-issue-right {
  padding-top: 100px;
}

.main-container .landportal-issue-right h2.pane-title {
  padding-left: 10px;
}

.main-container .page-header {
  display: none;
}

.main-node-content-issue .page-header {
  display:none;
}

.main-container .landportal-issue-left .node-teaser .field-name-field-doc-description, 
.main-container .landportal-issue-left .node-teaser .field-name-body,
.main-container .landportal-issue-right .node-teaser .field-name-field-doc-description, 
.main-container .landportal-issue-right .node-teaser .field-name-body {
  font-family: "Merriweather Sans", sans-serif !important;
  font-size: 13px !important;
  color: #666 !important;
  max-height: unset;
}

.main-container .landportal-issue-left .node-teaser .field-name-field-doc-type, 
.main-container .landportal-issue-left .node-teaser .field-name-field-doc-creation-date,
.main-container .landportal-issue-left .vocabulary-datasets .field-name-description-field,
.main-container .landportal-issue-left .node-teaser .location-locations-display,
.main-container .landportal-issue-right .node-teaser .field-name-field-doc-type, 
.main-container .landportal-issue-right .node-teaser .field-name-field-doc-creation-date,
.main-container .landportal-issue-right .vocabulary-datasets .field-name-description-field,
.main-container .landportal-issue-right .node-teaser .location-locations-display {
  font-family: "Merriweather Sans", sans-serif !important;
  font-size: 13px !important;
  color: #444 !important;
}

.main-container .landportal-issue-left .node-teaser .field-name-field-doc-description, 
.main-container .landportal-issue-right .node-teaser .field-name-field-doc-description, 
.main-container .landportal-issue-left .vocabulary-datasets .field-name-description-field,
.main-container .landportal-issue-right .vocabulary-datasets .field-name-description-field {
  margin: 5px 0px 5px 0px; 
}

.main-container .landportal-issue-left .node-teaser .field-name-title-field,
..main-container .landportal-issue-left .node-teaser .field-name-title-field,
.main-container .landportal-issue-right .node-teaser .field-name-name-field,
.main-container .landportal-issue-right .node-teaser .field-name-name-field {
  font-size: 18px !important;
} 

.main-container .landportal-issue-left h2.pane-title {
  /*padding-left: 10px;*/
}
 
.main-container .landportal-issue-right .panel-panel-inner {
  background-color: #EAEBE5;
  padding: 0px 10px;
}


.main-node-content-issue {
  position: relative;
} 

.main-node-content-issue article.node {
  position: relative;
} 

.main-node-content-issue .pane-content .field-name-field-image  {
    position: relative;
    z-index: 0
} 

.main-node-content-issue .pane-content .field-name-body  {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    bottom: 0;
    z-index: 1000;
} 

@media (max-width: 1284px) {
    .main-node-content-issue .pane-content .field-name-body  {
        position: relative;
    } 
}

@media (max-width: 1900px) {
  .main-node-content-issue .pane-content .file-image .content img {
    width: 200%;
    max-width: 200%;
  }
}

.main-node-content-issue .pane-title {
  position: absolute;
  top: 20px;
  z-index: 10;
  color: #fff;
  font-size: 1.5em;
}

.main-node-content-issue .pane-content .file-image .content {
  width: 200%;
  margin-left:-25%;
}

.pane-minipanel-vggt-section-preview .pane-content .pane-bundle-issue-section-preview:first-child {
  background-color: #FBF9EA;
  margin-bottom:10px;
  border-top: solid 2px #CFC800;
  padding-top: 2px;
  color: #4172BD;
}    
.pane-minipanel-vggt-section-preview .pane-content .pane-bundle-issue-section-preview:nth-child(2n+3) {
  background-color: #E7F2EF;
  border-top: solid 2px #009866;
  padding-top: 2px;
  color: #4173BD;
} 

.pane-minipanel-vggt-section-preview .pane-content .pane-bundle-issue-section-preview h2 {
  color:#4472C4;
}


/* accordion */

#accordion-understanding-vggt {
  font-family: "Merriweather Sans", sans-serif;
}

#accordion-understanding-vggt #ui-accordion-accordion-understanding-vggt-header-0 {
  background: #D11D39;  
  color:#fff;
}

#accordion-understanding-vggt #ui-accordion-accordion-understanding-vggt-header-0 .ui-accordion-header-icon {
  background-position: left top, right top;
  background-image: url(../img/plus.png), url(../img/gear.png);
  color: #fff;
  width: 97%;
}

#ui-accordion-accordion-understanding-vggt-header-0 + #ui-accordion-accordion-understanding-vggt-panel-0 {
  background: #FFEAEC;
}

#accordion-understanding-vggt #ui-accordion-accordion-understanding-vggt-header-1 {
  background: #22976C;  
  color:#fff;
}
#accordion-understanding-vggt #ui-accordion-accordion-understanding-vggt-header-1 .ui-accordion-header-icon {
  background-position: left top, right top;
  background-image: url(../img/plus.png), url(../img/arrow.png);
  color: #fff;
  width: 97%;
}

#ui-accordion-accordion-understanding-vggt-header-1 + #ui-accordion-accordion-understanding-vggt-panel-1 {
  background: #E9F5F1;
}

#accordion-understanding-vggt #ui-accordion-accordion-understanding-vggt-header-2 {
  background: #CDC943;  
  color:#fff;
}
#accordion-understanding-vggt #ui-accordion-accordion-understanding-vggt-header-2 .ui-accordion-header-icon {
  background-position: left top, right top;
  background-image: url(../img/plus.png), url(../img/group.png);
  color: #fff;
  width: 97%;
}

#ui-accordion-accordion-understanding-vggt-header-2 + #ui-accordion-accordion-understanding-vggt-panel-2 {
  background: #F5F4DE;
}

#accordion-understanding-vggt #ui-accordion-accordion-understanding-vggt-header-3 {
  background: #9A1518;  
  color:#fff;
}
#accordion-understanding-vggt #ui-accordion-accordion-understanding-vggt-header-3 .ui-accordion-header-icon {
  background-position: left top, right top;
  background-image: url(../img/plus.png), url(../img/todo.png);
  color: #fff;
  width: 97%;
}

#ui-accordion-accordion-understanding-vggt-header-3 + #ui-accordion-accordion-understanding-vggt-panel-3 {
  background: #F5E8E9;
}

#accordion-understanding-vggt #ui-accordion-accordion-understanding-vggt-header-4 {
  background: #F69439;  
  color:#fff;
}

#accordion-understanding-vggt #ui-accordion-accordion-understanding-vggt-header-4 .ui-accordion-header-icon {
  background-position: left top, right top;
  background-image: url(../img/plus.png), url(../img/clock.png);
  color: #fff;
  width: 97%;
}


#ui-accordion-accordion-understanding-vggt-header-4 + #ui-accordion-accordion-understanding-vggt-panel-4 {
  background: #FEF5EC;
}


.taxonomy-custom_teaser_ svg {
     width: 100% !important;
     height: 100% !important;
}

.taxonomy-custom_teaser_ .field-name-field-visualization  {
  width: 100% !important;
}

#mini-panel-minipanel_vggt_map1 .row {
  background-color: #FFF;
}

#mini-panel-minipanel_vggt_map2 .row {
  background-color: #f2dbce;
}

#mini-panel-minipanel_vggt_map3 .row {
  background-color: #EAF3F0;
}

#tabs-minipanel-vggt-maps-contentmain li.tab--vggt-country-info {
  background-color: #fff;
}

#tabs-minipanel-vggt-maps-contentmain li.tab--vggt-endorsement {
  background-color: #f2dbce;
}

#tabs-minipanel-vggt-maps-contentmain li.tab--vggt-programmes {
  background-color: #EAF3F0;
}

#tabs-minipanel-vggt-maps-contentmain {
  margin-top: 20px !important;
}

#tabs-minipanel-vggt-maps-contentmain .resp-tab-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#mini-panel-minipanel_vggt_map2 .vocabulary-indicators,
#mini-panel-minipanel_vggt_map3 .vocabulary-indicators {
  border-top: solid 0px;
}

#mini-panel-minipanel_vggt_map2 .vocabulary-indicators .field-name-field-visualization .field-label,
#mini-panel-minipanel_vggt_map3 .vocabulary-indicators .field-name-field-visualization .field-label {
  display: none;
}

#mini-panel-minipanel_vggt_map2 .vocabulary-indicators .indicator,
#mini-panel-minipanel_vggt_map3 .vocabulary-indicators .indicator {
  display: none;
}

#mini-panel-minipanel_vggt_map3 .vocabulary-indicators .field-name-field-visualization form {
  display: none;
}

.page-land-and-investments #mini-panel-minipanel_vggt_logo .field-type-image  .even {
  text-align:center;
}

.page-land-and-investments #mini-panel-minipanel_vggt_logo .field-type-image  .even  img {
  width: 250px;
}

.image-issue-section-preview img {
  width: 100%;
  height: auto;
}

